.round {
  position: relative;
}

.round input[type='checkbox'] {
  display: none;
}

.round input[type='checkbox']:checked + label {
  background-color: var(--purple-dark);
  border-color: var(--purple-dark);
}

.round input[type='checkbox']:checked + label:after {
  opacity: 1;
}

.round label {
  border: 3px solid var(--blue);
  border-radius: 50%;
  cursor: pointer;
  height: 1.5rem;
  width: 1.5rem;
  left: 0;
  position: absolute;
  top: 0;

  transition: background-color 0.15s;
}

.round label:hover {
  background: #4ea8de33;
}

.round label:after {
  border: 2px solid var(--gray-100);
  border-top: none;
  border-right: none;
  content: '';
  height: 5px;
  left: 18%;
  opacity: 0;
  position: absolute;
  top: 25%;
  transform: rotate(-45deg);
  width: 10px;
}
