.container {
  margin: 1.5rem 0;
  display: flex;
  justify-content: space-between;
}

.container div {
  color: var(--blue-dark);
}

.container div:last-child {
  color: var(--purple-dark);
}

.container div span {
  background: var(--gray-500);
  padding: 0.125rem 0.5rem;
  border-radius: 999px;
  margin-left: 1rem;

  font-weight: bold;
  color: var(--gray-100);
}
