.container {
  margin: 1.5rem 0;
  display: flex;
  justify-content: flex-end;

  /* background: red; */
}

.container label {
  overflow: hidden;
  overflow: -moz-hidden-unscrollable;
  border: 2px double red;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.container select {
  padding: 0.5rem 0.25rem;
  background: transparent;
  -webkit-appearance: none;
  border: none;
  color: var(--gray-100);
  cursor: pointer;
}